- page_title s_('AdminArea|Instance OAuth applications')

%h1.page-title.gl-font-size-h-display
  = s_('AdminArea|Instance OAuth applications')
%p.light
  - docs_link_path = help_page_path('integration/oauth_provider')
  - docs_link_start = '<a href="%{url}" target="_blank" rel="noopener noreferrer nofollow">'.html_safe % { url: docs_link_path }
  = s_('AdminArea|Manage applications for your instance that can use GitLab as an %{docs_link_start}OAuth provider%{docs_link_end}.').html_safe % { docs_link_start: docs_link_start, docs_link_end: '</a>'.html_safe }

- if @applications.empty?
  %section.empty-state.gl-text-center.gl-display-flex.gl-flex-direction-column
    .svg-content.svg-150
      = image_tag 'illustrations/empty-state/empty-admin-apps-md.svg', class: 'gl-max-w-full'

    .gl-max-w-full.gl-m-auto
      %h1.h4.gl-font-size-h-display= s_('AdminArea|No applications found')
      = render Pajamas::ButtonComponent.new(href: new_admin_application_path, variant: :confirm) do
        = s_('New application')

- else
  %hr
    = render Pajamas::ButtonComponent.new(href: new_admin_application_path, variant: :confirm) do
      = s_('New application')

  .table-responsive
    %table.b-table.gl-table.gl-w-full{ role: 'table' }
      %thead
        %tr
          %th
            = _('Name')
          %th
            = _('Callback URL')
          %th
            = _('Trusted')
          %th
            = _('Confidential')
          %th
          %th
      %tbody.oauth-applications
        - @applications.each do |application|
          %tr{ id: "application_#{application.id}" }
            %td= link_to application.name, admin_application_path(application)
            %td= application.redirect_uri
            %td= application.trusted? ? _('Yes'): _('No')
            %td= application.confidential? ? _('Yes'): _('No')
            %td
              = render Pajamas::ButtonComponent.new(href: edit_admin_application_path(application), variant: :link) do
                = _('Edit')
            %td= render 'delete_form', application: application

= paginate @applications, theme: 'gitlab'

.js-application-delete-modal
